rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /games/{gameid} {
      allow read: if true;
    	allow write: if $gameid.matches('[0-9]{1,6}');
      match /{roundnumber}{
      	match /{player}{
        	allow read: if true
      		allow write: if request.resource.contentType == 'image/png' && request.resource.size < 200 * 1024;
        }
      }
      match /{others=**}{
      	allow write: if false;
      }
    }
  }
}