:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
  place-items: stretch;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}
